/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Jun-2014, 15:01:57
    Author     : crunch
*/
.post {
    padding: 5px;
}

.post-header {
    font-family: sans-serif;
    font-size: 22px;
}

.post-title {
    font-size: 20px;
}

.post-info {
    /*margin-top: 10px;*/
    /*border-bottom: 1px solid #DDD;*/
    text-align: left;
    padding-left: 50px;
    margin-bottom:20px;
    color: #AAA;
}

.post-footer { 
    margin-bottom: 20px;
}

.post-footer ul {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
}

.post-footer li {
    display: inline-block;
    padding: 10px;
}

.post-content {
    position: relative;
    max-width: 600px;
    
    margin: 35px;
    font-family: serif;
    font-size: 14px;
}

.post-comment {
    max-width: 600px;
    
    padding: 45px;
    font-family: serif;
    font-size: 12px;
}

